html
  head
    title Users - HobbyMatch
    link(rel="stylesheet" href="/style.css")
  body
    nav.navbar
      .container-nav
        h1.logo 🎯 HobbyMatch
        .nav-links
          a(href="/dashboard") Dashboard
          a(href="/logout") Logout
    
    .container
      .header-section
        h1 All Users
        a.btn.btn-primary(href="/users/add") ➕ Add New User
      
      .search-section
        form(method="GET" action="/users")
          .search-box
            input.search-input(type="text" name="search" placeholder="Search users..." value=search)
            button.btn.btn-small(type="submit") Search
      
      if message
        .alert.alert-success= message
      
      if users.length > 0
        .table-wrapper
          table.data-table
            thead
              tr
                th User ID
                th Username
                th Email
                th Location
                th Joined
                th Actions
            tbody
              each user in users
                tr
                  td= user.user_id
                  td= user.username
                  td= user.email
                  td= user.location || 'N/A'
                  td= new Date(user.created_at).toLocaleDateString()
                  td
                    .action-buttons
                      a.btn.btn-edit(href="/users/edit/" + user.user_id) Edit
                      a.btn.btn-delete(href="/users/delete/" + user.user_id, onclick="return confirm('Delete this user?')") Delete
      else
        .no-data
          p No users found.
          a(href="/users/add") Create the first user
    
    include footer.pug

